.hidden {
  display:none;
}


/**************************************************************************/
/**
 * COMMON: Image Rotator: STYLE.
 */

.image-rotator{
  position:relative;
  width:100%;
  margin-bottom:20px;
}
.image-rotator-items{
  position:relative;
  z-index:-1;
}
.image-rotator-nav{
  width:100%;
  position:absolute;
  top:28%;
}
.image-rotator span,
.image-rotator span img{
  display:block;
  overflow:hidden;
}
/*---captions--*/
.rotator-item-caption{
  background:transparent url(../image/background-double-lines.png) center bottom repeat-x;
  padding:10px 0;
}
.rotator-item-caption p{
  margin:0;
}
/*---prevous and next buttons*/
.nav-button-prev,
.nav-button-next{
  display:block;
  width:22px;
  height:46px;
}
.nav-button-prev{
  position:absolute;
  top:0;
  left:0;
  padding:60px 60px 60px 0;
}
.nav-button-next{
  position:absolute;
  top:0;
  right:0;
  padding:60px 0 60px 60px;
}
.nav-button-prev .content-inner,
.nav-button-next .content-inner{
  display:block;
  width:22px;
  height:46px;
  /*push the copy outside of the button */
  line-height:500px;
  overflow:hidden;
}
.nav-button-prev .content-inner{
  background:transparent url(../image/image-rotator-previous.png) 0 0 no-repeat;
}
.nav-button-next .content-inner{
  background:transparent url(../image/image-rotator-next.png) 0 0 no-repeat;
}
.nav-button-prev:hover .content-inner,
.nav-button-next:hover .content-inner{
  background-position:0 -46px;
}
/*---pager---*/
.image-rotator-pager{
  position:absolute;
  right:0;
  /* The vertical position of the pager is dynamically added by javascript. */
}
.image-rotator-pager a{
  display:block;
  float:left;
  width: 13px;
  height:13px;
  overflow:hidden;
  padding:0 0 0 10px;
  background:transparent url(../image/image-rotator-btn.png) 0 0 no-repeat;
  /*push the copy outside of the button */
  line-height:500px;
  overflow:hidden;
}
.image-rotator-pager a.activeSlide{
  background-position:0 -13px;
}
/*-----custimization for Press section - because there needs to be a border around the image*/

.node-type-press .image-rotator-pager{
  background-color:#cccccc;
  padding:5px 0 5px 10px;
}
